.container {
  background-color: rgb(226, 226, 226);
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content a {
  background-color: #e68e1b;
  padding: 0.3rem 1rem;
  color: white;
  border-radius: 3px;
}

.grids{
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(auto-fit , minmax(220px , 1fr));
  max-width: 36rem;
  gap: .5rem;

}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 0.4rem 1rem;
  display: flex;
  width: 100vw;
  max-width: 280px;
  justify-content: space-between;
  align-items: center;
  color: rgb(73, 73, 73);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  color: #727272;
  font-size: 1.8rem;
}


.chiffre {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0.6rem 0;
}

.bare {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 0.4rem;
  margin: .5rem 0 .5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text{
  font-size: .9rem;
  color: rgb(167, 167, 167);
  margin: .1rem 0 ;
}

.deals{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
