.sidbare{
  position:fixed;
  background: #e6e6e6;
  height: 100vh;
  z-index: 1;
  width: 100vw;
  max-width: 4vw;
  transition: .5s;
}

.sidbare:hover{
  max-width: 12vw;
}

.sidbare li a{
  display: flex;
  align-items: center;
  gap: .7rem;
  margin: 1.2rem .8rem;
  overflow: hidden;
}
