.sidbare{
  position:fixed;
  background: #011b4d;
  height: 100vh;
  z-index: 1;
  width: 100vw;
  color: rgb(235, 235, 235);
  max-width: 4vw;
  transition: .5s;
}

.sidbare:hover{
  max-width: 12vw;
}

.sidbare h1{
  font-size: 2rem;
  padding: .41rem;
  background-color: #e68e1b;
}

.sidbare li a{
  display: flex;
  align-items: center;
  gap: .7rem;
  margin: 1.4rem .8rem;
  overflow: hidden;
}

.icon{
  font-size: 1.2rem;
}